
<ion-content class="backgrond" style="text-align: center;">




    
    <ion-card class="card-center">

        <ion-header>

            <div>
                <img class="" alt=" " width="200"  height="200" src="../../assets/images/logo-icon.png">
            </div>
            <br>
            <br>
            <br>
            <ion-toolbar color="primary">
                
                <ion-title>Weekly Report</ion-title>
               
            </ion-toolbar>
        </ion-header>

        <br>
        <br>
        <br>
        <hr>
      

        <a href="/login" class="login-btn">Login</a> &nbsp;&nbsp;&nbsp;
        <a href="/registration" class="register-btn">Register</a>

        
    </ion-card> 

</ion-content>





















