.input {
    position: absolute;
    left: 200px;
    top: auto;
}

.label {
    position: absolute;
    left: 220px;
}

.background{
    text-align: center;
    padding: 0px;


     --background:url(../../assets/images/back1.png) no-repeat center center / cover;; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  //background-color: rgb(128, 187, 19);


 
  height: 100px;

}

.header{
    width: 40%;
  align-items: center;
  display:inline-block;
}

.text-center{
    text-align: center;
    padding: 0px;

}

.name{
    color:white;
    height: 90%;
    --ion-background-color:#0d0e0d5b;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
   
    width:40%; // adjust width on your ion-card suitable on your screen
    display:inline-block;
    margin: 0 auto;

}

ion-item{
    color: white;
}