.seet{

    top: 8%;
    left: 30%;
    height: 50%;
    --ion-background-color:#0d0e0d5b;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    width:40%; // adjust width on your ion-card suitable on your screen
    display:block;
    margin: 0 auto;
}


.card1 {
    
    top: 8%;
    left: 100%;
    height: 50%;
    --ion-background-color:#0d0e0d5b;
    -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
    width:40%; // adjust width on your ion-card suitable on your screen
    display:block;
    margin: 0 auto;

}

.background{
    text-align: center;
    padding: 0px;


     --background:url(../../assets/images/back1.png) no-repeat center center / cover;; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  //background-color: rgb(128, 187, 19);


 
  height: 100px;

}

.header{
    top:8%;
    width: 40%;
  align-items: center;
  display:inline-block;
}