.background{
    text-align: center;
    padding: 0px;


     --background:url(../../assets/images/back1.png) no-repeat center center / cover;; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  //background-color: rgb(128, 187, 19);


 
  height: 100px;

}

.header{
    top:8%;
    width: 40%;
  align-items: center;
  display:inline-block;
}

.name{

    top:8%;
    height: 80%;
    --ion-background-color:#0d0e0d5b;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    width:40%; // adjust width on your ion-card suitable on your screen
    display:inline-block;
    margin: 0 auto;

}

.text-center{
    text-align: center;
    padding: 0px;

}
.view{

    padding-right: 2%;
}

ion-item{
    color: white;
}